@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 400px;
  /* Altura mínima para asegurar consistencia */
}

.pricing-card ul {
  flex-grow: 1;
}

@media (min-width: 640px) {
  .pricing-card {
    min-height: 450px;
    /* Ajusta la altura mínima para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .pricing-card {
    min-height: 500px;
    /* Ajusta la altura mínima para pantallas grandes */
  }
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";